span.secondary-title {
  font-size: 18px;
}

.pricing-table  th:first-child,
.pricing-table td:first-child {
border-left: 0;
}

.pricing-table td:first-child {
background: #F1F1F2;
text-align: right;
padding-right: 20px;
}

.pricing-table td.collapsible-cell {
    background-color: #fff;
}

.pricing-table .btn {
width:75%;
margin: 15px 0 10px 0;
font-size: 17px;
}

.pricing-table thead tr:first-child td:first-child {
    border-top-left-radius: 7px;
}

.pricing-table tr:first-child td:last-child {
    border-top-right-radius: 7px;
}

.pricing-table tr:last-child td{
font-size: 18px;
padding-bottom: 43px;
vertical-align: top;
border-bottom: none;
}

.pricing-table tr:last-child td:first-child {
font-size: 16px;
padding-top: 24px;
}

.pricing-table td {
width: 34%;
}

.pricing-table td:first-child {
width: 32%;
font-size: 16px;
}

.pricing-table {
width: 100%;
border: 1px #E6E7E8 solid;
text-align: center;
border-radius: 7px;
}

.pricing-table th {
font-size: 21px;
color: #30302F;
line-height: 57px;
border-bottom: 1px #E6E7E8 solid;
border-left: 1px #F1F1F1 solid;
font-weight: normal;
}

.pricing-table td {
vertical-align: middle;
height: 58px;
font-size: 14px;
line-height: 17px;
border-bottom: 1px #E6E7E8 solid;
border-left: 1px #F1F1F1 solid;
color: #30302F;
}

.pricing-table tr:last-child td {
padding-left: 20px;
padding-right: 20px;
}

.pricing-table tr:last-child td:first-child {
padding-left: 0;
padding-right: 20px;
}

.pricing-table .btn {
width: 84%;
}

.pricing-table td.collapsible-cell {
text-align: left;
padding-left: 22px;
padding-right: 22px;
font-size: 12px;
line-height: 15px;
}




table.pricing-table-alternate, table.pricing-table-alternate * {
  margin: 0;
  padding: 0;
}
table.pricing-table-alternate a.btn {
    display: inline-block;
    font-size: 17px;
    line-height: 35px;
    min-width: 190px;
    padding: 0 10px;
    margin: 14px 0;
}
table.pricing-table-alternate div.table_header {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  vertical-align: middle;
  line-height: 58px;
  font-size: 21px;
  font-weight: bold;
}
table.pricing-table-alternate div.table_content {
  background-color: #fff;
  vertical-align: middle;
  font-weight: normal;
  padding: 14px 36px;
}
table.pricing-table-alternate div.table_spacer {
  height: 40px;
}
table.pricing-table-alternate {
  max-width: 100%;
  border-spacing: 0;
  border: none;
  font-size: 14px;
  color: #30302f;
}
table.pricing-table-alternate tr th, table.pricing-table-alternate tr td {
  position: relative;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #e4e4e4;
  background-color: #fff;
}
table.pricing-table-alternate tr td {
    padding: 14px 36px;
}
table.pricing-table-alternate tr th:first-child, table.pricing-table-alternate tr td:first-child {
    text-align: right;
    vertical-align: top;
    line-height: 30px;
}
table.pricing-table-alternate tr td:first-child, table.pricing-table-alternate tr td:first-child div.table_content {
    color: #58595b;
    font-size: 14px;
    padding-right: 58px;
    padding-left: 20px;
    white-space: nowrap;
}
table.pricing-table-alternate tr:last-child td {
    padding: 0;
}
table.pricing-table-alternate tr td {
  border-top: 1px dashed #e4e4e4;
}
table.pricing-table-alternate tr.sub_row td:nth-child(2), table.pricing-table-alternate tr.sub_row td:last-child {
  -webkit-box-shadow: 0 4px 6px -2px #cacaca;
  -moz-box-shadow: 0 4px 6px -2px #cacaca;
  box-shadow: 0 4px 6px -2px #cacaca;
  z-index: 200;
  position: relative;
}
table.pricing-table-alternate tr.sub_row td:first-child {
  border-top: none;
}
table.pricing-table-alternate tr.sub_row td {
    font-size: 11px;
    font-weight: medium;
}
table.pricing-table-alternate tr:first-child th {
  vertical-align: top;
}
table.pricing-table-alternate tr:last-child td {
  vertical-align: bottom;
}
table.pricing-table-alternate tr th:last-child, table.pricing-table-alternate tr td:last-child {
  border-right: 1px solid #e4e4e4;
}
table.pricing-table-alternate tr td:first-child, table.pricing-table-alternate tr th:first-child, table.pricing-table-alternate tr:first-child div.table_header, table.pricing-table-alternate tr:last-child td:first-child div.table_content {
  background-color: #f8f8f8;
}
table.pricing-table-alternate tr.super_row {
    background-image: url(images/arrow-right.png);
    background-position: -99999px -99999px;
}
table.pricing-table-alternate tr.super_row td:first-child {
    background: #f8f8f8 url(images/arrow-down.png) no-repeat 95% 24px;
    cursor: pointer;
}
table.pricing-table-alternate tr.super_row.collapsed td:first-child {
    background-image: url(images/arrow-right.png);
    background-position-top: 22px;
}
table.pricing-table-alternate tr:last-child td:first-child div.table_content {
    line-height: 58px;
}
table.pricing-table-alternate tr:first-child th div.table_spacer, table.pricing-table-alternate tr:last-child td div.table_spacer {
  background-color: #fff;
  margin-left: -1px;
}
table.pricing-table-alternate tr:first-child th:last-child div.table_spacer, table.pricing-table-alternate tr:last-child td:last-child div.table_spacer {
  margin-right: -1px;
}
table.pricing-table-alternate tr:first-child th:first-child div.table_header {
  border-bottom: none;
}
table.pricing-table-alternate tr:first-child th:nth-child(2) div.table_header {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  margin: -35px -1px 0 -1px;
  position: relative;
  z-index: 333;
  background: #f8f8f8 url(images/pricing_gear.png) no-repeat 90% 0;
  padding-right: 50px;
  line-height: 72px;
}
table.pricing-table-alternate tr:first-child th:nth-child(2) div.table_content {
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  margin: 0 -1px;
  position: relative;
  z-index: 333;
}
table.pricing-table-alternate tr:last-child td div.table_content {
  border-bottom: 1px solid #e4e4e4;
}
table.pricing-table-alternate tr:last-child td:nth-child(2) {
  background-color: #fff;
}
table.pricing-table-alternate tr:last-child td:nth-child(2) div.table_content {
  background-color: #fff;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  margin: 0 -1px -29px -1px;
  position: relative;
  z-index: 333;
  -webkit-box-shadow: 0 4px 6px -2px #cacaca;
  -moz-box-shadow: 0 4px 6px -2px #cacaca;
  box-shadow: 0 4px 6px -2px #cacaca;
}
table.pricing-table-alternate tr:last-child td div.content_inner {
    margin-top: -81px;
}
table.pricing-table-alternate tr:last-child td:nth-child(2) div.content_inner {
    margin-top: -96px;
}
table.pricing-table-alternate tr:last-child a.btn {
    margin-top: 0;
}
