@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/sites/all/themes/ez/fonts/OpenSans-Light.woff2') format('woff2'), url('/sites/all/themes/ez/fonts/OpenSans-Light.woff') format('woff'), url('/sites/all/themes/ez/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('/sites/all/themes/ez/fonts/OpenSans.woff2') format('woff2'), url('/sites/all/themes/ez/fonts/OpenSans.woff') format('woff'), url('/sites/all/themes/ez/fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('/sites/all/themes/ez/fonts/OpenSans-Italic.woff2') format('woff2'), url('/sites/all/themes/ez/fonts/OpenSans-Italic.woff') format('woff'), url('/sites/all/themes/ez/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/sites/all/themes/ez/fonts/OpenSans-Bold.woff2') format('woff2'), url('/sites/all/themes/ez/fonts/OpenSans-Bold.woff') format('woff'), url('/sites/all/themes/ez/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('/sites/all/themes/ez/fonts/OpenSans-Extrabold.woff2') format('woff2'), url('/sites/all/themes/ez/fonts/OpenSans-Extrabold.woff') format('woff'), url('/sites/all/themes/ez/fonts/OpenSans-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/sites/all/themes/ez/fonts/OpenSans-Semibold.woff2') format('woff2'), url('/sites/all/themes/ez/fonts/OpenSans-Semibold.woff') format('woff'), url('/sites/all/themes/ez/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fonts-loaded body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  color: #5694DE;
  transition: all 0.2s ease;
}
a:hover {
  color: #2261ac;
}
b,
strong {
  font-weight: 600;
}
.page {
  padding-top: 70px;
}
.logged-in .page,
.front .page {
  padding-top: 0;
}
.logged-in.front .page .navbar .navbar-brand {
  background: none;
}
.logged-in.front .page .navbar .navbar-brand img {
  opacity: 1;
}
.logged-in.front .page .navbar .container li a {
  color: #515151;
}
.logged-in.front .page .navbar .container li a:hover {
  color: #f6a21d;
}
.logged-in.front .page .navbar .container li.phone-number {
  color: #4d6871;
}
.logged-in.front .page .navbar .container li.phone-number a {
  color: #f6a21d;
}
.logged-in.front .page .navbar .container li.phone-number + li .btn {
  border-color: #4d6871;
  color: #4d6871;
}
.logged-in.front .page .navbar .container li.phone-number + li .btn:hover {
  background-color: #4d6871;
  color: #fff;
}
.btn {
  padding: 6px 18px;
  border: 1px solid transparent;
  text-decoration: none !important;
}
.btn:hover {
  background: transparent;
}
.btn-lg {
  padding: 12px 18px;
  border-radius: 3px;
}
.btn-rounded {
  border-radius: 3px;
  text-transform: uppercase;
}
.btn-dark {
  background: #252525;
  color: #fff;
  border-color: #252525;
}
.btn-dark:hover {
  color: #252525;
}
.btn-dark.inverse {
  background: transparent;
  color: #252525;
}
.btn-dark.inverse:hover {
  background: #252525;
  color: #fff;
}
.btn-orange {
  background: #f18627;
  color: #fff;
  border-color: #f18627;
}
.btn-orange:hover {
  color: #f18627;
}
.btn-green {
  background: #10A254;
  color: #fff;
  border-color: #10A254;
}
.btn-green:hover {
  color: #10A254;
}
.btn-mint {
  background: #2ca295;
  color: #fff;
  border-color: #2ca295;
}
.btn-mint:hover {
  color: #2ca295;
}
.sub-nav {
  text-transform: uppercase;
  font-size: 13px;
}
.sub-nav li.active a {
  background: #f6a21d;
  color: #fff;
}
.sub-nav li.active a:hover {
  background: #f18627;
}
.sub-nav li a {
  color: #515151;
}
.text-success {
  color: #10A254;
}
.has-success .form-control-feedback,
.has-success .control-label {
  color: #10A254;
}
.has-success .form-control {
  border-color: #10A254;
}
.has-success .form-control:focus {
  border-color: #10A254;
}
.panel-ez {
  border-color: #E7EDF3;
}
.panel-ez > .panel-heading {
  color: #4d6871;
  background-color: #f3f5f6;
  border-color: #E7EDF3;
}
a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
.panel-default .panel-heading {
  display: block;
}
.panel-default .panel-heading h3.panel-title {
  font-size: 16px;
  color: #515151;
  margin-top: 0;
  margin-bottom: 0;
}
.panel-default .panel-heading h3.panel-title > a {
  display: block;
}
.panel-default .panel-heading h3.panel-title .pull-right {
  color: #028dd0;
}
.panel-default .panel-heading h3.panel-title:hover .pull-right {
  color: #024464;
}
.panel-default .panel-collapse,
.panel-default .panel-body {
  width: 100%;
}
.toolbar .navbar {
  position: static;
}
.front .gray {
  background: #E7EDF3;
}
.front .gray h1 {
  text-transform: uppercase;
}
.front .content-wrap {
  padding: 50px 0;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #fff 51%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(51%, #fff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #fff 51%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #fff 51%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #fff 51%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #fff 51%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@white', endColorstr='#e5e5e5', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.front .navbar {
  transition: all 300ms ease-in-out;
  box-shadow: none;
}
.front .navbar.navbar-fixed-top {
  background-color: transparent;
}
.front .navbar .container li a {
  color: #fff;
}
.front .navbar .container li a:hover {
  color: #f6a21d;
}
.front .navbar .container li a.btn-sign-up {
  display: none;
}
.front .navbar.scrolled {
  background-color: #2c3744;
}
.front .navbar.scrolled .container li a.btn-sign-up {
  display: block;
}
.front.loaded .hero {
  background-image: url('/sites/all/themes/ez/images/ez-hero.jpg');
}
.front .hero {
  padding-top: 180px;
  margin-bottom: 0;
  background: #252525 50% 50% no-repeat;
  background-size: cover;
}
.front .hero h1 {
  padding-right: 30px;
}
.front .hero .rotate {
  color: #FFF;
}
.front .hero .rotated {
  display: none;
}
.front .hero .rotate-container {
  display: inline-block;
  min-width: 350px;
  text-align: right;
}
.front .hero .btn {
  display: inline-block;
  margin-bottom: 10px;
}
.front .hero .btn.btn-tryfree {
  border-color: #88bacc;
  background-color: #88bacc;
  color: #fff;
  margin-right: 10px;
}
.front .hero .btn.btn-tryfree:hover {
  background-color: transparent;
  color: #88bacc;
}
.front .callouts i[class*=fa] {
  display: inline-block;
  margin: 0;
  color: #252525;
  width: auto;
  height: auto;
  line-height: inherit;
  font-size: 18px;
}
.front .callouts i[class*=fa] h2 {
  text-align: center;
  font-size: 24px;
  display: block;
}
.front .callouts i[class*=fa] p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.front .testimonials {
  background-color: #f3f5f6;
}
.front .light-gray {
  padding: 60px 0;
  background: #f3f5f6 url('../images/mms/hand-and-phone.png') 85% 45% no-repeat;
}
.front .light-gray h2 {
  margin-top: 0;
}
.front .light-gray .try-it-out {
  margin-bottom: 0;
  font-size: 20px;
}
.front .light-gray .try-it-out b {
  color: #5694DE;
}
.front .use-case {
  text-align: center;
  padding: 60px 0;
}
.front .use-case h1 {
  color: #f6a21d;
  margin-top: 0;
  font-weight: 300;
}
.front .use-case h2 {
  color: #84929c;
  font-size: 16px;
  margin-bottom: 40px;
}
.front .use-case a {
  background-color: #000;
  border-radius: 8px;
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 150px;
  margin-bottom: 20px;
  transition: none;
}
.front .use-case a .use-case-title {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  z-index: 100;
  position: absolute;
  width: 100%;
  line-height: 1;
  margin: 58px 0;
  text-shadow: 1px 1px 0 #000;
  font-weight: 700;
}
.front .use-case a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 360px !important;
  height: 150px;
  max-width: 360px;
  opacity: 0.5;
}
.front .use-case a:hover img {
  opacity: 0.3;
}
.centered {
  text-align: center;
  padding: 50px 0;
}
.dark {
  background: #2c3744;
  color: #f3f5f6;
  padding: 50px 0;
}
.dark i {
  font-size: 60px;
  color: #fff;
}
.dark.video p {
  font-size: 24px;
}
.dark a {
  text-decoration: underline;
}
.split {
  padding: 50px 0;
  font-size: 16px;
  background: #f18627;
  background: #252525;
  /* Old browsers */
  background: -moz-linear-gradient(left, #252525 50%, #f18627 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #252525), color-stop(50%, #f18627));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #252525 50%, #f18627 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #252525 50%, #f18627 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #252525 50%, #f18627 50%);
  /* IE10+ */
  background: linear-gradient(to right, #252525 50%, #f18627 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darkGrey', endColorstr='@orangeDark', GradientType=1);
  /* IE6-9 */
}
.split.grey {
  background: #E7EDF3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #E7EDF3 50%, #252525 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #E7EDF3), color-stop(50%, #252525));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #E7EDF3 50%, #252525 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #E7EDF3 50%, #252525 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #E7EDF3 50%, #252525 50%);
  /* IE10+ */
  background: linear-gradient(to right, #E7EDF3 50%, #252525 50%);
  /* W3C */
}
.split.grey .left-panel {
  color: #252525;
}
.split.grey .right-panel {
  color: #E7EDF3;
}
.split.blue {
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fff 50%, #E7EDF3 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #E7EDF3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff 50%, #E7EDF3 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fff 50%, #E7EDF3 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fff 50%, #E7EDF3 50%);
  /* IE10+ */
  background: linear-gradient(to right, #fff 50%, #E7EDF3 50%);
  /* W3C */
}
.split.blue .left-panel {
  color: #252525;
}
.split.blue .right-panel {
  color: #fff;
}
.split h1 {
  text-transform: uppercase;
}
.split .left-panel {
  color: #E7EDF3;
  padding-right: 50px;
}
.split .left-panel img {
  margin-right: 30px;
}
.split .right-panel {
  color: #252525;
  padding-left: 50px;
}
.navbar {
  min-height: 70px;
  border: none;
  margin-bottom: 0;
}
.navbar #navToggle {
  display: none;
}
.navbar.navbar-default {
  background-color: #2c3744;
}
.navbar.navbar-fixed-top {
  box-shadow: none;
}
.navbar .container li {
  font-size: 14px;
  font-weight: 400;
}
.navbar .container li a {
  text-transform: uppercase;
  color: #fff;
  height: 70px;
  line-height: 70px;
  padding: 0 15px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.navbar .container li a:hover {
  color: #f6a21d;
  background: transparent;
}
.navbar .container li a.active,
.navbar .container li a.active-trail {
  background: transparent;
  color: #98C3E4;
}
.navbar .container li a.active:hover,
.navbar .container li a.active-trail:hover {
  background: inherit;
  color: #f6a21d;
}
.navbar .container li a.btn {
  height: auto;
  line-height: 1;
  padding: 8px 15px;
  border-radius: 3px;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  margin-right: 10px;
}
.navbar .container li a.btn.btn-log-in {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  margin-right: 0;
}
.navbar .container li a.btn.btn-log-in:hover {
  color: #2c3744;
  background-color: #fff;
}
.navbar .container li.phone-number {
  color: #D9EEFF;
  margin-right: 10px;
  padding: 4px 0;
}
.navbar .container li.phone-number a {
  color: #98C3E4;
  display: inline;
  height: auto;
  line-height: 1;
  padding: 0;
}
.navbar .container li.phone-number a:hover {
  color: #f6a21d;
  cursor: default;
}
.navbar .navbar-nav .btn-signup {
  background: #f6a21d;
  color: #fff;
}
.navbar .navbar-right {
  margin-top: 20px;
}
.navbar .navbar-brand {
  height: 70px;
  padding-top: 20px;
}
.navbar .navbar-brand img {
  vertical-align: middle;
  height: 30px;
}
.hero {
  background: url('../images/ez-hero.jpg') 50% 50% no-repeat;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 120px 0;
  margin-bottom: 30px;
  position: relative;
}
.hero h1 {
  color: #f6a21d;
  font-size: 60px;
  font-weight: 400;
  margin: 0 0 25px;
}
.hero h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 5px;
}
.hero .btn {
  border-radius: 3px;
  padding: 12px 60px;
  margin: 30px 0 0;
}
.hero .btn.btn-log-in {
  margin-top: 0;
}
.hero-int {
  background: #f3f5f6;
  text-transform: uppercase;
  color: #2c3744;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding: 40px 0;
}
.hero-int h1 {
  color: #2c3744;
  font-size: 40px;
  margin: 0;
  font-weight: inherit;
  letter-spacing: 2px;
}
.hero-int h2 {
  color: #6a829f;
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0 0;
}
#content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.content {
  line-height: 1.8;
  color: #515151;
}
.content h3 {
  color: #252525;
  font-size: 24px;
}
.content h4 {
  font-weight: 600;
}
.content a {
  text-decoration: underline;
}
.sidebar .select-menu {
  margin-bottom: 20px;
}
.sidebar .nav-stacked {
  margin-bottom: 30px;
}
.sidebar .nav-stacked a {
  color: #848484;
  font-size: 13px;
}
.sidebar .nav-stacked a:hover {
  color: #f6a21d;
  background-color: transparent;
}
.sidebar .nav-stacked a.active-trail {
  color: #2c3744;
}
.sidebar .nav-stacked a.active {
  background-color: #2c3744;
  color: #fff;
}
.sidebar .nav-stacked a.active:hover {
  background-color: #2c3744;
  color: #fff;
}
.sidebar .nav-stacked .nav-stacked {
  margin-left: 20px;
  margin-bottom: 0;
  list-style: none;
}
.sidebar .nav-stacked .nav-stacked li {
  margin: 0;
  padding: 0;
}
.sidebar h3 {
  font-size: 18px;
  font-weight: bold;
}
.sidebar .trust-logos {
  margin: 0 15px 30px;
}
.sidebar .trust-logos img {
  display: block;
  height: auto;
  margin-bottom: 15px;
}
.sidebar .chat-sidebar {
  margin-left: 15px;
}
.callouts {
  padding: 50px 0;
  text-align: left;
}
.callouts i[class*=fa] {
  font-size: 18px;
}
.callouts h2 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}
.callouts p {
  line-height: 1.8;
  font-size: 14px;
}
.mobile {
  background: #E7EDF3;
  padding: 0;
  text-align: left;
}
.mobile .container {
  position: relative;
  padding: 50px 0 50px 250px;
  height: 280px;
}
.mobile img {
  margin-right: 15px;
}
.mobile img.big-phone {
  position: absolute;
  left: 0;
  bottom: 0;
}
.orange {
  background-color: #f6a21d;
  color: #fff;
}
.orange.video a {
  color: #fff;
  display: block;
  padding: 24px 0;
  position: relative;
  overflow: hidden;
}
.orange.video a:before {
  content: "\f01d";
  font-family: 'FontAwesome';
  color: #252525;
  display: block;
  position: absolute;
  left: 50%;
  font-size: 210px;
  margin-left: -100px;
  line-height: 1;
  margin-top: -75px;
}
.orange.video a:hover {
  color: #252525;
}
.orange.video a:hover:before {
  color: #fff;
}
.orange.video a span {
  display: block;
}
.orange.video a .h2 {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 50px;
  font-weight: 600;
  margin: 0;
}
.orange.video a .p {
  display: block;
  margin-left: 190px;
  font-size: 18px;
  line-height: 25px;
}
.why-use {
  padding: 50px 0;
}
.why-use .panel-default .panel-body {
  min-height: 290px;
}
.why-use h3 {
  font-size: 18px;
  font-weight: 600;
}
.why-use .btn {
  font-size: 20px;
  margin-top: 40px;
}
.why-use ul.arrows {
  margin: 0;
  padding: 0;
}
.why-use ul.arrows li {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
  line-height: 1.25;
}
.why-use ul.arrows li:before {
  content: "\f0a9";
  font-family: 'FontAwesome';
  color: #f6a21d;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
}
.testimonials {
  text-align: center;
  padding: 50px 0;
}
.testimonials .who-uses {
  padding: 30px 0;
}
.testimonials .who-uses .text-right {
  text-align: right;
}
.testimonials .who-uses .text-left {
  text-align: left;
}
.testimonials h1 {
  color: #f6a21d;
}
.testimonials i.fa-quote-right {
  font-size: 80px;
  color: #E7EDF3;
  display: block;
}
.testimonials p {
  font-size: 20px;
}
section.footer {
  color: #8A929C;
  background: #2c3744;
  padding: 50px 0;
}
section.footer .footer-brand img {
  width: 120px;
}
section.footer h3 {
  font-size: 1em;
  color: #98C3E4;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0;
}
section.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section.footer ul li {
  line-height: 1.6;
}
section.footer ul li a {
  color: #f3f5f6;
  display: inline-block;
  font-size: 13px;
}
section.footer ul li a:hover {
  color: #f6a21d;
  text-decoration: none;
}
section.footer .row + .disclaimer {
  margin-top: 30px;
}
section.footer p.disclaimer {
  font-size: 13px;
}
section.footer p.disclaimer a {
  color: #c1c5cb;
  text-decoration: underline;
}
section.footer p.copyright {
  font-size: 13px;
  margin-top: 20px;
}
section.footer i[class^='fa'] {
  line-height: 45px;
  width: 45px;
  margin-right: 15px;
  text-align: center;
  background-color: #465363;
  color: #fff;
  border-radius: 100%;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
section.footer i.fa-facebook:hover {
  background: #3c5b9b;
}
section.footer i.fa-twitter:hover {
  background: #2daae1;
}
section.footer i.fa-google-plus:hover {
  background: #f63e28;
}
.block-olark {
  height: 0;
  font-size: 0;
  overflow: hidden;
}
#pricing .content {
  background-color: #f3f5f6;
}
#pricing .content .col-md-4 {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
#pricing .content .col-md-4 h3 {
  color: #000;
  text-transform: uppercase;
}
#pricing .content .col-md-4 .btn {
  margin-top: 5px;
  padding: 15px 30px;
}
#pricing .content .col-md-4.small-business {
  background-color: #eff4f8;
}
#pricing .content .pricing-plans h3,
#pricing .content .pricing-plans h4 {
  text-align: center;
  color: #2c3744;
}
#pricing .content .pricing-plans .pricing-cols {
  margin: 30px 0;
}
#pricing .content .pricing-plans.single {
  margin: 0 auto;
}
#pricing .content .pricing-plans.single .pricing-cols .pricing-col {
  width: 288px;
  float: left;
}
#pricing .content .pricing-plans.single .pricing-cols .pricing-single-description {
  overflow: hidden;
  padding: 0 80px;
}
#pricing .content .pricing-plans .pricing-col {
  float: left;
  width: 20%;
  border-left: 10px solid #f3f5f6;
  background-color: #fff;
  text-align: center;
  color: #252525;
  font-size: 14px;
  line-height: 20px;
}
#pricing .content .pricing-plans .pricing-col.best-value {
  position: relative;
}
#pricing .content .pricing-plans .pricing-col.best-value:after {
  content: 'Best Value';
  display: block;
  position: absolute;
  left: -8px;
  top: -8px;
  background-color: #f6a21d;
  color: #fff;
  line-height: 15px;
  padding: 8px;
  font-size: 12px;
}
#pricing .content .pricing-plans .pricing-col.best-value:before {
  content: '';
  display: block;
  position: absolute;
  top: 23px;
  left: -8px;
  z-index: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #ce8108 transparent transparent;
}
#pricing .content .pricing-plans .pricing-col:first-child {
  border-left: none;
}
#pricing .content .pricing-plans .pricing-col.pay-and-go h3 {
  color: #f4a157;
}
#pricing .content .pricing-plans .pricing-col.free-and-ez h3 {
  color: #15d06c;
}
#pricing .content .pricing-plans .pricing-col h3 {
  font-size: 24px;
  line-height: 48px;
  background-color: #2c3744;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}
#pricing .content .pricing-plans .pricing-col .price {
  font-size: 24px;
  line-height: 1.25em;
  margin: 20px 0;
}
#pricing .content .pricing-plans .pricing-col .add-ons {
  margin: 25px 0;
  font-size: 13px;
}
#pricing .content .pricing-plans .pricing-col .add-ons .title {
  color: #848484;
  font-weight: 300;
  text-transform: uppercase;
}
#pricing .content .pricing-plans .pricing-col .btn {
  display: block;
  margin: 25px 10% 25px;
}
#pricing .content .pricing-plans .more-plans {
  width: 40%;
  margin: 0 auto 30px;
  background-color: #f3f5f6;
  border: 1px solid #c7d1d5;
  padding: 15px;
  text-align: center;
  border-radius: 3px;
}
#pricing .content .pricing-plans .more-plans a {
  color: #f6a21d;
  text-align: center;
  font-weight: bold;
}
#pricing .content .pricing-plans.high-volume .pricing-col {
  width: 25%;
  margin-left: 0;
}
#pricing .content .pricing-plans.canadian-high-volume .pricing-col {
  width: 25%;
  margin-left: 0;
}
#pricing .content .features {
  font-size: 18px;
  text-align: center;
}
#pricing .content .features .fa {
  color: #10A254;
  font-size: 24px;
}
#pricing .content .pricing-faq {
  background-color: #fff;
  padding: 50px 0;
}
#pricing .content .pricing-faq h3 {
  text-align: center;
  margin: 0 0 30px;
  font-weight: bold;
}
#pricing .content .pricing-faq h4 {
  font-weight: 600;
  color: #252525;
}
#pricing .content .pricing-faq .faq-item p {
  margin-bottom: 30px;
}
#pricing .content .pricing-faq .faq-item .fa-comments-o {
  font-size: 48px;
  float: left;
  margin-right: 10px;
}
#pricing .free-and-ez .feature {
  background-color: #fff;
  text-align: left;
  padding: 15px;
}
#pricing .free-and-ez .btn-mint {
  font-weight: bold;
}
.table-compare-plans {
  border: none;
}
.table-compare-plans > thead > tr > th {
  border-width: 0 0 0 20px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 40px;
  text-align: center;
}
.table-compare-plans > thead > tr > th.features {
  background: #252525;
  border-left: none;
}
.table-compare-plans > thead > tr > th.free-plan {
  background: #2ca295;
  width: 20%;
}
.table-compare-plans > thead > tr > th.paid-plan {
  background: #f18627;
  width: 20%;
}
.table-compare-plans > tbody > tr:nth-child(even) > td {
  background-color: #E7EDF3;
}
.table-compare-plans > tbody > tr.button-row td {
  background: transparent;
}
.table-compare-plans > tbody > tr > td {
  border-width: 0 0 0 20px;
  border-style: solid;
  border-color: #fff;
  padding: 10px 40px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
}
.table-compare-plans > tbody > tr > td:first-child {
  border-left: none;
  text-align: left;
}
.table-compare-plans > tbody > tr > td.free-plan .fa-check-circle {
  color: #2ca295;
}
.table-compare-plans > tbody > tr > td.paid-plan .fa-check-circle {
  color: #f18627;
}
.table-compare-plans > tbody > tr > td .fa {
  font-size: 30px;
}
.table-compare-plans > tbody > tr > td .fa-times-circle {
  color: #646464;
}
#landing {
  padding-top: 0;
}
#landing .hero {
  margin-bottom: 0;
  padding-top: 0;
}
#landing .navbar-default {
  background: transparent;
  width: 100%;
  margin-bottom: 60px;
}
#landing .disclaimer {
  margin-top: 0;
}
#landing.landing-alt .hero {
  background: #eee2d2 url('../images/landing-bg.jpg') 0 0 no-repeat;
  color: #252525;
  text-align: left;
  text-transform: none;
  padding: 80px 0 30px;
  position: relative;
}
#landing.landing-alt .hero .phone {
  width: 300px;
  height: 363px;
  position: absolute;
  bottom: 0;
  left: 120px;
  background: url('../images/landing-phone.png') 0 0 no-repeat;
}
#landing.landing-alt .hero .brand {
  text-align: center;
  display: block;
  width: 400px;
  margin: 0 auto 30px;
}
#landing.landing-alt .hero blockquote {
  text-align: left;
  font-size: 30px;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}
#landing.landing-alt .hero blockquote p {
  margin: 0;
}
#landing.landing-alt .hero blockquote + p {
  font-weight: bold;
}
#landing.landing-alt .hero .sign-up {
  text-align: center;
  text-transform: uppercase;
}
#landing.landing-alt .hero .sign-up .btn {
  margin-bottom: 10px;
}
#landing.landing-alt .hero .sign-up div {
  font-size: 80%;
}
#landing.landing-alt .hero ul {
  margin: 30px 0 15px;
  padding: 0;
  list-style: none;
}
#landing.landing-alt .hero ul li {
  margin-left: 30px;
  font-size: 18px;
  margin-bottom: 10px;
}
#landing.landing-alt .hero ul li:last-child {
  margin-bottom: 0;
}
#landing.landing-alt .hero ul li:before {
  width: 30px;
  margin-left: -30px;
  vertical-align: middle;
  content: "\f00c";
  display: inline-block;
  font-family: FontAwesome;
  color: #10A254;
  font-size: 24px;
}
#landing.landing-alt .content {
  padding: 60px 0;
}
#landing.landing-phone .hero {
  background: transparent url('../images/landing-phone-in-hand.jpg') 50% 50% no-repeat;
  background-size: cover;
  text-align: left;
  text-transform: none;
  padding-bottom: 50px;
}
#landing.landing-phone .hero h1 {
  margin-top: 80px;
  font-size: 48px;
}
#landing.landing-phone .hero .btn {
  text-transform: uppercase;
}
#landing.landing-phone .hero h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}
#landing.landing-phone .hero p {
  font-size: 13px;
}
#landing.landing-phone .navbar .container li.phone-number {
  color: #f6a21d;
}
#landing.landing-phone .callouts {
  background-color: #f3f5f6;
  text-align: center;
}
#landing.landing-phone .callouts h1 {
  text-transform: uppercase;
  color: #252525;
  margin-bottom: 30px;
}
#landing.landing-phone .callouts i.fa {
  font-size: 28px;
  width: 58px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
#landing.landing-phone .callouts h2 {
  text-transform: uppercase;
  color: #f6a21d;
  font-size: 24px;
  font-weight: 600;
}
#landing.landing-phone .sign-up-now {
  margin: 50px 0 0;
}
#landing.landing-phone .sign-up-now span {
  font-size: 28px;
  text-transform: uppercase;
}
#landing.landing-phone .sign-up-now .btn {
  margin-left: 30px;
}
#landing.landing-mms .phone-number {
  color: #fff;
}
#landing.landing-mms .hero {
  background: transparent url('../images/mms/header.jpg') 50% 50% no-repeat;
  background-size: cover;
  text-align: left;
  color: #fff;
  padding-bottom: 60px;
}
#landing.landing-mms .hero .title {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 30px;
}
#landing.landing-mms .hero .title .introducing {
  font-size: 24px;
  color: #fff;
  font-style: italic;
  font-weight: 100;
  text-transform: none;
  display: block;
  line-height: 1;
}
#landing.landing-mms .hero .title .by-line {
  display: block;
  font-size: 36px;
  line-height: 1;
}
#landing.landing-mms .hero .intro {
  text-transform: none;
  font-size: 18px;
  line-height: 28px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#landing.landing-mms .callouts h2 {
  color: #f6a21d;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
#landing.landing-mms .callouts p {
  color: #515151;
}
#landing.landing-mms .callouts img {
  width: 100%;
}
#landing.landing-mms .light-gray {
  background-color: #f3f5f6;
}
#landing.landing-mms .light-gray .col-md-4 > div:hover img {
  display: none;
}
#landing.landing-mms .light-gray .col-md-4 > div:hover:before {
  display: block;
}
#landing.landing-mms .light-gray .col-md-4 > div:before {
  content: " ";
  display: none;
  background-position: left top;
  height: 270px;
  width: 360px;
  background-size: 100%;
}
#landing.landing-mms .light-gray .col-md-4 .tracking:before {
  background-image: url('../images/mms/tracking.gif');
}
#landing.landing-mms .light-gray .col-md-4 .inbox:before {
  background-image: url('../images/mms/inbox.gif');
}
#landing.landing-mms .light-gray .col-md-4 .groups:before {
  background-image: url('../images/mms/groups.gif');
}
#landing.landing-mms .dark h1,
#landing.landing-mms .dark b {
  font-weight: bold;
  color: #f6a21d;
}
#landing.landing-mms .dark .disclaimer {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 0;
}
#landing.landing-mms .cta-with-image {
  background: #89b9cd url('../images/mms/computer-phone.jpg') center center;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
}
#landing.landing-mms .cta-with-image h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
#landing.landing-mms .cta-with-image h2,
#landing.landing-mms .cta-with-image p {
  padding-left: 80px;
  margin-bottom: 20px;
}
#landing.landing-mms .cta-with-image .disclaimer {
  font-size: 12px;
  margin-bottom: 0;
}
#signup {
  background-color: #fff;
  padding-top: 0;
}
#signup .content-wrap {
  margin: 40px 0;
}
#signup label {
  font-weight: 600;
}
#signup .text-muted {
  font-size: 12px;
}
#signup .field-name-body {
  margin-left: 30px;
  line-height: 1.8;
}
#signup .field-name-body h3 {
  color: #f6a21d;
  font-weight: 600;
  font-size: 24px;
}
#signup .field-name-body h3 + h4 {
  margin-bottom: 30px;
}
#signup .field-name-body h4 {
  font-size: 18px;
  color: #515151;
  font-weight: 400;
}
#signup .field-name-body .btn {
  margin-bottom: 30px;
}
#signup .field-name-body ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}
#signup .field-name-body ul li {
  font-size: 16px;
  line-height: 30px;
}
#signup .field-name-body ul li:before {
  font-size: 20px;
  line-height: 30px;
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
  content: "\f0a9";
  font-family: 'FontAwesome';
  color: #f18627;
}
#signup .field-name-body .trust-logos {
  margin-bottom: 30px;
}
#signup .field-name-body blockquote {
  border: none;
  padding: 0;
  margin: 0;
  color: #848484;
  font-size: 14px;
}
#signup .field-name-body cite {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 25px;
}
#signup #signup-form {
  margin-bottom: 30px;
}
#signup #signup-form h3 {
  margin-bottom: 20px;
}
#signup #signup-form .btn {
  border-radius: 3px;
  padding: 12px 60px;
  margin: 15px 0 30px;
}
#signup-form .has-error input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
label.error {
  border-radius: 0 0 3px 3px;
  border: solid #a94442;
  border-width: 0 1px 1px 1px;
  width: 100%;
  padding: 2px 6px;
  color: #a94442;
  background: #FCE3E2;
  font-size: 90%;
}
.page-node-136 h3 {
  margin-top: 0;
}
.page-node-136 .field-name-body .col-md-6 {
  margin-bottom: 60px;
}
.node-type-webform .content {
  margin: 30px 0;
}
.team-member {
  margin-bottom: 30px;
  color: #fff;
  background-color: #252525;
}
.team-member img {
  width: 100%;
}
.team-member .team-member-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 15px 10px 5px;
}
.team-member .team-member-title {
  font-size: 11px;
  color: #a4a4a4;
  padding: 0 10px 15px;
  margin: 0;
}
#kwvalidate #feedback-icon {
  margin-top: 6px;
}
#text-feedback {
  text-align: center;
  margin-top: 20px;
}
.page-404 {
  padding-top: 0;
  background-color: #fff;
}
.page-404 .text-body {
  background: #E7EDF3;
  position: relative;
  width: 50%;
  margin: 40px auto 0;
  font-size: 18px;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}
.page-404 .text-body:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #E7EDF3;
}
.page-404 .text-body p {
  margin-bottom: 0;
}
.page-404 .sender {
  color: ;
  text-transform: uppercase;
  width: 50%;
  margin: 20px auto 100px;
  font-weight: bold;
}
.page-404 .sender p {
  margin: 0 0 0 60px;
  float: left;
}
.page-404 .sender .time {
  font-weight: normal;
}
.page-404 h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
}
.page-404 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.page-404 ul a {
  font-size: 14px;
  color: ;
}
.page-404 ul a:hover {
  color: #252525;
}
.maintenance-page {
  background-color: #fff;
}
.api-documentation h2 {
  margin: 40px 0 20px;
}
.api-documentation h4 {
  margin-top: 40px;
}
.api-documentation table {
  font-size: 14px;
  margin-bottom: 40px;
}
.api-documentation table strong {
  font-weight: 600;
}
.api-documentation table.table > tbody > tr > td {
  padding: 14px 8px;
}
.api-documentation .text-muted {
  font-size: 13px;
}
.api-documentation pre + p {
  margin-top: 40px;
}
.api-documentation .panel-group {
  margin-top: 40px;
}
.api-documentation h2 + .panel-group {
  margin-top: 20px;
}
.api-documentation .panel-default .panel-heading h3.panel-title {
  font-size: 20px;
  font-weight: 600;
}
.blog-content .views-row {
  margin-bottom: 45px;
}
.blog-content .views-row h2 a {
  color: #252525;
  text-decoration: none;
}
.blog-content .views-row h2 a:hover {
  text-decoration: underline;
}
.blog-content .views-field.views-field-title-1 a {
  text-decoration: none;
}
.blog-content .views-field.views-field-title-1 a:hover {
  text-decoration: underline;
}
.blog-sidebar .block {
  margin-bottom: 30px;
}
.blog-sidebar h2 {
  font-weight: bold;
  font-size: 18px;
}
.blog-sidebar ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 14px;
}
.blog-sidebar ul li {
  margin-bottom: 4px;
}
.blog-sidebar ul li a {
  color: #515151;
}
.blog-sidebar ul li a:hover {
  color: #000;
}
.bootcamp-cta {
  background-color: #f6f6f6;
  color: #515151;
  padding: 40px;
}
.bootcamp-cta h3 {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #f4a027;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.bootcamp-cta img {
  width: 60%;
  display: block;
  margin: 0 auto 20px;
}
.bootcamp-cta ul {
  font-size: 16px;
  list-style: none;
  padding-left: 20px;
}
.bootcamp-cta ul li {
  margin-bottom: 5px;
}
.bootcamp-cta ul li i.fa {
  margin-left: -20px;
}
.bootcamp-cta .mktoForm {
  width: auto !important;
}
.bootcamp-cta .mktoForm .mktoFormCol {
  float: none;
}
.bootcamp-cta .mktoForm .mktoFormCol .mktoFieldWrap {
  float: none;
}
.bootcamp-cta .mktoForm .mktoFormCol .mktoOffset {
  display: none;
}
.bootcamp-cta .mktoForm .mktoLabel {
  font-size: 14px;
  font-weight: normal !important;
  color: #848484;
  font-weight: normal;
  width: auto !important;
  margin-bottom: 6px;
}
.bootcamp-cta .mktoForm .mktoRequiredField .mktoAsterix {
  float: right !important;
  margin-left: 5px;
  color: #848484;
}
.bootcamp-cta .mktoForm .mktoField {
  border-color: #d1d4d9;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 6px;
  width: 100% !important;
  display: block;
  margin-bottom: 11px;
}
.bootcamp-cta .mktoForm .mktoField:disabled {
  opacity: 0.6;
}
.bootcamp-cta .mktoForm .mktoButtonRow .mktoButtonWrap {
  margin-left: 0 !important;
}
.bootcamp-cta .mktoForm .mktoButtonRow .mktoButtonWrap .mktoButton {
  height: auto;
  line-height: 1;
  padding: 8px 15px;
  border-radius: 3px;
  background-color: #f6a21d;
  border: 1px solid #f6a21d;
  color: #fff;
}
.bootcamp-cta .mktoForm .mktoButtonRow .mktoButtonWrap .mktoButton:hover {
  background-color: transparent;
  color: #f6a21d;
}
.bootcamp-cta .mktoForm .mktoButtonRow .mktoButtonWrap .mktoButton i.fa {
  font-family: 'FontAwesome';
}
.use-case-page .hero-int {
  padding-top: 265px;
  background: url(/sites/all/themes/ez/images/use-case/hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  border-bottom: 1px solid #dadee1;
}
.use-case-page .hero-int h1 {
  color: #f6a21d;
  text-transform: none;
  margin-bottom: 30px;
}
.use-case-page #content {
  margin-top: 0;
  margin-bottom: 0;
}
.use-case-page .content .row {
  padding-bottom: 60px;
  border-top: 1px solid #dadee1;
  padding-top: 60px;
}
.use-case-page .content .row:first-child {
  border-top: 0;
}
.use-case-page .content h2 {
  color: #f6a21d;
  margin-bottom: 40px;
  margin-top: 0;
}
.use-case-page .content p {
  margin-bottom: 40px;
  color: #85939b;
}
.use-case-page .content p b,
.use-case-page .content p strong {
  color: #495564;
  font-weight: 600;
}
.use-case-page .content .quote {
  color: #f6a21d;
  font-size: 16px;
  font-weight: 600;
}
.use-case-page .content .quote blockquote {
  padding: 0;
  margin: 0 0 40px;
  border: none;
}
.use-case-page .content .quote p {
  color: #f6a21d;
}
.use-case-page .content .full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center;
  padding: 40px 0;
  background-color: #e5ebf0;
  color: #a6bfd2;
  border-top: 1px solid #a6bfd2;
  border-bottom: 1px solid #a6bfd2;
}
.use-case-page .content .full-width h3 {
  font-size: 20px;
  font-weight: 600;
  color: #a6bac8;
  margin-bottom: 60px;
}
.use-case-page .content .full-width .img-responsive {
  margin: 0 auto;
}
.use-case-page .content .cta {
  padding: 60px;
  text-align: center;
}
.links:empty {
  display: none;
}
/*# sourceMappingURL=ez.css.map */