
button {
  border: none;
  padding: 8px;
}
.btn,
.toggle-button {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.lora {
  font-family: 'Lora', serif;
}
.merriweather {
  font-family: 'Merriweather', serif;
}
.playfair {
  font-family: 'Playfair Display', serif;
}
.muli {
  font-family: 'Muli', sans-serif;
}
.indie-flower {
  font-family: 'Indie Flower', cursive;
}
.inconsolata {
  font-family: 'Inconsolata', monospace;
}
.lobster {
  font-family: 'Lobster', cursive;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.amatic {
  font-family: 'Amatic SC', cursive;
}

.toggle-button {
  display: inline-block;
}

.toggle-button input {
  font-size: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-button input + label {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: normal;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.toggle-button input:checked + label {
  background-color: #ccc;
}

.toggle-button input:checked + label:hover {
  cursor: default;
}

.upload {
  position: relative;
  display: block;
  height: 30px;
}

.upload input {
  position: absolute;
  height: 34px;
  width: 30px;
  visibility: hidden;
}

.editor {
  background-color: #eee;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  border: 1px solid #ddd;
}

.form-inline {
  margin-bottom: 10px;
}

#text-size {
  height: 32px;
}

.input-hider {
  position: relative;
  display: inline-block;
}

.input-hider input {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.btn-text-color {
  color: #f00;
}

.btn-bg-color {
  color: #000;
}

#text {
  font-size: 18px;
  margin-bottom: 12px;
}

.dropdown-menu li .radio {
  display: block;
}

.dropdown-menu li .radio input {
  visibility: hidden;
  width: 0;
}

.dropdown-menu li .radio label {
  display: block !important;
  width: 100%;
  padding: 3px 20px;
}

.dropdown-menu li .radio label:hover {
  background-color: #f5f5f5;
}