
#modalBackdrop,
.modal-backdrop {
  background-color: $blue-black !important;
}

.modal {
//  border-radius: 6px 6px 6px 6px;

  &.in {
    .modal-dialog {
      border-radius: 6px;
      box-shadow: 0 2px 60px rgba($blue-black, .5);
      overflow: hidden;
    }
  }

  &.modal-add-favorites {

    .modal-body {
//      padding: 30px 30px 0;
    }
    h4 {
//      margin-top: 0;
//      font-family: @default-font-family;
//      font-size: @default-font-size + 4;
//      font-weight: 900;
//      line-height: @default-line-height + 4;
//      color: @darker-yellow;
    }
    h5 {
//      margin-top: 0;
//      font-family: @alt-sans-serif-font-family;
//      font-size: @default-font-size + 2;
//      font-weight: 900;
//      line-height: @default-line-height + 2;
//      color: @grey;

      span {
//        font-weight: 700;
//        color: @darker-yellow;
      }
    }
    p {
//      font-family: @default-font-family;
//      font-size: @default-font-size + 2;
//      font-weight: 500;
//      line-height: @default-line-height + 2;
    }
    .image {
//      text-align: center;

      .img-responsive {
//        margin: 0 auto;
      }
      @media (max-width: 767px) {
//        margin: 0 0 30px;
      }
    }
    .add-favorites-bottom {
//      margin: 30px -30px 0;
//      padding: 30px;
//      position: relative;
//      background-color: @darker-yellow;

      svg {
//        position: absolute;
//        top: -1px;
//        left: 50%;
//        margin: 0 0 0 -130px;
//        width: 260px;
//        height: 30px;
//        fill: @white;
//        fill-rule: evenodd;
      }
      h6 {
//        margin: 0 0 15px;
//        padding-top: 30px;
//        font-family: @default-font-family;
//        font-size: @default-font-size + 2;
//        font-weight: 900;
//        line-height: @default-line-height;
//        color: @white;
//        text-align: center;
      }
      .or-statement {
//        display: block;
//        font-family: @alt-sans-serif-font-family;
//        font-size: @default-font-size + 2;
//        font-weight: 900;
//        line-height: @default-line-height + 18;
//        text-transform: uppercase;
//        text-align: center;
//        color: @darker-yellow;
      }
    }
    .modal-footer {
//      text-align: center;

      .btn {

        .fa {
//          margin-right: 6px;
//          vertical-align: middle;

          &.fa-times,
          &.fa-check {
//            margin-top: -2px;
          }
        }
      }
    }
  }
  &.modal-calendar-event,
  &.modal-shareable-url,
  &.modal-puzzle-creator {

    .modal-header {
//      background: none;
//      padding: 30px;
//      height: auto;
//      min-height: none;
//      border-bottom: 1px solid #ddd;
        background: $white;
        height: auto;
        background-color: $gray-white;
        background-image: linear-gradient(to top right, $white, $gray-white) !important;
        border-bottom: 1px solid $gray-light;
        padding: $spacing-large;
        position: relative;

      .modal-title {
//        margin: 0;
//        padding: 0;
//        font-family: @alt-sans-serif-font-family;
//        font-size: @default-font-size + 4;
//        font-weight: 900;
//        line-height: @default-line-height - 2;
//        color: @dark-blue;
          font-family: $ff-display;
          @include fs($fs-40);
          font-weight: $fw-semibold;
          line-height: 60px;
          color: $blue-dark;
      }
      .close {
//        font-size: @default-font-size;
//        line-height: @default-line-height - 2;
//        color: #ddd;
          background-color: rgba($blue-light, 0);
          border-radius: 3px;
          color: $blue-light;
          height: 60px;
          position: relative;
          text-shadow: none;
          transition: all .15s linear;
          width: 60px;

          &:after {
            content: "✕";
            font-family: $ff-sans;
            @include fs($fs-40);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover {
            background-color: rgba($gray-light, .5);
            background-color: $blue-light;
            color: $white;
          }
          .fa-close,
          span[aria-hidden="true"] {
            display: none;
          }
      }
    }
    .modal-body {
//      margin: 0;
//      padding: 30px;
//      background-color: @off-white;
      background: $white;

      .event-title {
//        margin: 0 0 15px;
//        font-family: @alt-sans-serif-font-family;
//        font-size: @default-font-size;
//        font-weight: 700;
//        line-height: @default-line-height;
//        color: @dark-grey;
        font-family: $ff-sans;
        font-weight: $fw-bold;
        @include fs($fs-20);
        color: $blue-light;
        margin-bottom: $spacing-xsmall;
      }
      .event-long-description,
      .event-longdesc {
//        margin: 0;
//        font-family: @alt-sans-serif-font-family;
//        font-size: @default-font-size - 2;
//        font-weight: 500;
//        line-height: @default-line-height - 2;
//        color: @dark-grey;
        @include fs($fs-body-small);
        color: $black;
      }
    }
    .modal-footer {
//      padding: 30px;
//      border-top: 1px solid #ddd;
//      background-color: @white;

      .btn {
//        margin: 0;
      }
    }
  }
  &.modal-book-list,
  &.modal-reading-challenge {

    .modal-dialog {

      @media (min-width: 1200px) {

        &.modal-lg {
//          width: 1024px;
        }
      }
    }
    .modal-content {
//      background-color: @blue;

      .modal-header {
//        position: relative;
//        background: none !important;
//        border: none !important;
//        height: auto;
//        padding: 15px;
//        .border-radius (0);

        .close {
//          margin-top: 14px;
//          margin-right: 30px;
//          font-size: 32px;
        }
        .modal-title {
//          margin: 0 30px;
//          font-family: @alt-sans-serif-font-family;
//          font-size: @default-font-size + 10;
//          font-weight: 900;
//          line-height: 60px;
//          color: @white;

          & > img {
//            height: auto;
          }
        }
      }
      .modal-body {
//        margin-top: 0;
//        padding: 0 45px 45px;

        .slider-header,
        .slider-footer {
//          position: relative;
//          margin: 0;
//          padding: 30px;
//          background-color: @dark-blue;

          p {
//            font-family: @default-font-family;
//            font-size: @default-font-size - 2;
//            line-height: @default-line-height - 2;
//            color: @white;

            &:last-child {
//              margin: 0;
            }
          }
        }
        .slider-header {
//          .border-radius (20px 20px 0 0);

          .btn-yellow {
//            margin-left: 60px;
//            margin-bottom: 30px;

            @media (max-width: 991px) {
//              float: none !important;
//              display: block;
//              width: 100%;
//              margin: 30px auto 0;
            }
          }
        }
        .slider-footer {
//          background-color: @dark-blue;
//          .border-radius (0 0 20px 20px);

          h5 {
//            margin-top: 0;
//            font-family: @alt-serif-font-family;
//            font-weight: 700;
//            font-size: @default-font-size + 4;
//            line-height: @default-line-height;
//            color: lighten(@lighter-blue, 20%);
          }
          p {
//            margin: 0 auto !important;
//            width: 75%;

            @media (max-width: 991px) {
              width: 100%
            }
          }
        }
        .book-list-slider {
//          margin: 0 auto;
//          opacity: 0;
//          height: 500px;
//          overflow: hidden;

          &.slick-initialized {
//            opacity: 1 !important;
          }
          &.slick-slider {
//            opacity: 1;
//            overflow: visible;

            .slick-list {
//              position: relative;
//              height: 500px;
//              overflow: hidden;
//              padding: 30px;
//              background-color: @white;

              &:after {
//                position: absolute;
//                top: 0;
//                left: 0;
//                width: 100%;
//                height: 100%;
//                content: ' ';
//                .gradient(linear; @white 10%, transparent 25%, transparent 50%, transparent 75%, @white 90%; 90deg);
//                z-index: 0;
//                pointer-events: none;

                @media (max-width: 991px) {
//                  .gradient(linear; @white 10%, transparent 15%, transparent 50%, transparent 85%, @white 90%; 90deg);
                }
              }
            }
            .slick-slide {
//              position: relative;
//              height: 100%;
//              min-height: 500px;
//              will-change: transform;

              &.slick-center {

                .img-responsive {
//                  margin: 0 auto;
//                  max-height: 300px !important;
//                  max-width: 100%;
//                  opacity: 1;
//                  .drop-shadow(0px, 6px, 25px, -4px, 0.5);

                  @media (max-width: 991px) {
//                    max-width: 80%;
                  }
                }
                .text-information {
//                  display: block;
//                  position: relative;

                  .title {
//                    position: relative;
//                    margin: 30px 0 0 -175px;
//                    left: 50%;
//                    width: 350px;
//                    font-family: @alt-serif-font-family;
//                    font-size: @default-font-size;
//                    font-weight: 900;
//                    line-height: @default-line-height;
//                    color: @dark-blue;
//                    text-align: center;
//                    z-index: 100;

                    .author {
//                      margin-top: 5px;
//                      display: block;
//                      font-family: @default-font-family;
//                      font-size: @default-font-size - 4;
//                      font-weight: 400;
//                      line-height: @default-line-height - 4;
//                      color: @light-grey;
                    }
                    @media (max-width: 991px) {
//                      margin: 30px 0 0 0;
//                      left: inherit;
//                      width: auto;
                    }
                  }
                }
              }
              & > div {
//                margin: 30px 0;
//                height: 100%;
              }
              .node-book-resource {
//                margin: auto;
//                position: absolute;
//                top: 50%;
//                left: 0;
//                right: 0;
//                transform: translateY(-50%);
              }
              .img-responsive {
//                margin: 0 auto;
//                max-height: 150px;
//                max-width: 95px;
//                opacity: .5;
//                .border-radius (5px);
//                .drop-shadow(0, 6px, 25px, 0, 0.25);
              }
              .text-information {
//                display: none;
              }
            }
          }
          .slick-prev,
          .slick-next {
//            z-index: 100;
//            margin-top: -36px;
//            padding: 15px;
//            height: 72px;
//            width: auto;
//            line-height: 38px;
//            border: 2px solid @white;
//            cursor: pointer;
//            background-color: @blue;

            &:hover,
            &:focus {

              .fa {
//                color: lighten(@yellow, 30%);
              }
            }
            &.slick-disabled {

              .fa {
//                color: @dark-blue;
              }
            }
            .fa {
//              font-size: 60px;
//              line-height: 38px;
//              color: @yellow;
            }
            @media (max-width: 991px) {
//              background-color: @blue;
            }
          }
          .slick-next {
//            margin-right: 0;
//            padding-right: 5px;
//            border-right: 0;
//            .border-radius (20px 0 0 20px);
          }
          .slick-prev {
//            margin-left: 0;
//            padding-left: 5px;
//            border-left: 0;
//            .border-radius (0 20px 20px 0);
          }
        }
      }
    }
  }
  &.modal-reading-challenge {

    .modal-body {
//      padding: 0 45px 30px !important;

      .instructions {
//        margin-bottom: 30px;
//        padding: 30px;
//        background-color: @white;
//        .border-radius (20px);

        p {

          &:last-child {
//            margin-bottom: 0;
          }
        }
      }
      .launch-btn {
//        display: block;
//        margin: 0 auto;
//        max-width: 200px;
      }
    }
  }
  .modal-body {
//    margin-top: 30px;
//    margin-bottom: 0px;
//    padding-left: 50px;
//    padding-right: 50px;
//    border: none;

    margin: 0;
    padding: $spacing-large $spacing-large $spacing-large;

    .text-center {

      .btn {
//        margin-bottom: -30px;
      }
    }
  }
  .modal-header {
//    border: none;
//    padding-bottom: 20px;
//    background-color: #0079C1;
//    border-radius: 6px 6px 0px 0px;
//    height: 134px;
    background: $white;
    height: auto;
    background-color: $gray-white;
    background-image: linear-gradient(to top right, $white, $gray-white) !important;
    border-bottom: 1px solid $gray-light;
    padding: $spacing-large;
    position: relative;
  }
  .modal-header > h4.modal-title {
    margin: 0;
//    margin: 20px 5px 5px 20px;
  }
  .modal-header > h4.modal-title > img {
//    height: 60px;
  }
  .modal-content {
//    border: none;
  }
  .modal-footer {
//    border-top: none;
//    text-align: center;
//    padding: 15px 30px 30px;
  }
  .modal-footer > button {
//    background-color: #0079C1;
//    border-radius: 2px 2px 2px 2px;
//    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
//    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
//    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    @include button-small;
    @include button-blue;
  }
  .modal-title img {
//    height: 60px;
  }
  .modal-header button {
//    color: white;
//    opacity: 1;
    background-color: rgba($blue-light, 0);
    border-radius: 3px;
    color: $blue-light;
    height: 60px;
    position: relative;
    text-shadow: none;
    transition: all .15s linear;
    width: 60px;

    &:after {
      content: "✕";
      font-family: $ff-sans;
      @include fs($fs-40);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: rgba($gray-light, .5);
      background-color: $blue-light;
      color: $white;
    }

    span[aria-hidden="true"] {
      display: none;
    }
  }
  h3.purple {
//    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
//    font-weight: 900;
//    font-size: 20px;
//    line-height: 24px;
//    color: #52439b;
//    margin-left: 0px;
//    text-transform: uppercase;
  }
  h2.green {
//    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
//    font-weight: 900;
//    font-size: 28px;
//    line-height: 24px;
//    color: #A6CE39;
//    margin-left: 0px;
//    margin-bottom: 15px;
//    text-transform: uppercase;
//    text-align: center;
  }
  .jumbotron {
//    padding-top: 0px;
//    padding-bottom: 0px;
//    background-color: white;

    ul {
//      background-color: white;
//      border: 0;
    }
  }
}

.ctools-modal-content.add-favorite-popup-content {
//  max-height: 800px;
//  overflow: hidden;
//  overflow-y: auto;
}
