section.section {
  &.local, &.national, &.global {
    .summary-statement {
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }
  .summary-statement {
    width: 200px;
    height: 200px;
    background-color: $dark-blue;
    overflow: hidden;
    border: {
      width: 10px;
      style: solid;
      color: $dark-blue;
      radius: 100%;
    }
    text: {
      transform: uppercase;
      align: center;
    }
    padding: 23px 17px;
    color: $white;
    cursor: pointer;
    & > * {
      color: inherit;
    }
    & > p {
      margin: 5px 0;
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    & > a.btn {
      font-family: FontAwesome;
      font-size: 20px;
      padding: 0;
      text-align: center;
      color: $white;
      &:before {
        content: "\f067"
      }
    }
    .summary-statement-label {
      span {
        display: block;
      }
      span:nth-child(1) {
        font: {
          weight: 800;
          size: 16px;
        }
        line-height: 16px;
      }
      span:nth-child(2) {
        font: {
          weight: 200;
          size: 16px;
        }
        line-height: 16px;
      }
    }
    .summary-statement-value {
      line-height: 40px;
      font: {
        size: 36px;
        weight: 800;
      }
    }
    .summary-statement-description {
      font-size: 10px;
    }
  }
}

@media (min-width: $screen-md-min) {

section.section {
  &.local, &.national, &.global {
    .summary-statement {
      width: 250px;
      height: 250px;
      left: 150px;
      top: -490px;
      transform-origin: center center;
      .summary-statement-label {
        margin-top: 25px;
        span {
          display: block;
        }
        span:nth-child(1) {
          font: {
            weight: 800;
            size: 24px;
          }
          line-height: 20px;
        }
        span:nth-child(2) {
          font: {
            weight: 200;
            size: 24px;
          }
          line-height: 24px;
        }
      }
      .summary-statement-value {
        line-height: 48px;
        font: {
          size: 42px;
          weight: 800;
        }
      }
      .summary-statement-description {
        font-size: 14px;
        padding: 0 15px;
      }
    }
  }
}

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

section.section {
  &.local, &.national, &.global {
    .summary-statement {
      width: 225px;
      height: 225px;
      top: -320px;
      left: 95px;
      transform-origin: center center;
      .summary-statement-label {
        margin-top: 15px;
        span {
          display: block;
        }
        span:nth-child(1) {
          font: {
            weight: 800;
            size: 20px;
          }
          line-height: 20px;
        }
        span:nth-child(2) {
          font: {
            weight: 200;
            size: 20px;
          }
          line-height: 20px;
        }
      }
      .summary-statement-value {
        line-height: 42px;
        font: {
          size: 36px;
          weight: 800;
        }
      }
      .summary-statement-description {
        font-size: 12px;
        padding: 0 15px;
      }
    }
  }
}

}


@media (max-width: $screen-xs-max) {

section.section {
  &.local, &.national, &.global {
    .summary-statement {
      width: 165px;
      height: 165px;
      top: -150px;
      left: 23.5px;
      transform-origin: center center;
      .summary-statement-description {
        display: none;
      }
    }
  }
}

}