/*------------------------------------------------------------------
[Careers Section Stylesheet]

Project:  CallFire
Version:  1.0
Last change:  11/12/12 
Last edited by: Nels
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of Contents]

# To search for these elements, include '@' before the search       #

I. CAREERS
II. DEPARTMENTS
III. JOB POST
IV. SHARED SIDEBARS
    A. GENERIC SIDEBAR
    B. CONNECT WITH US

-------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/* @CAREERS
/*------------------------------------------------------------------*/

.page-node-114127 .all-content {
    border-radius: 0px;
    background: #fff;
}

.section-careers .node .field-name-body {
    font-size: 16px;
    line-height: 24px;
}

.section-careers .node .field-name-body p {
    margin-bottom: 12px;
}

/*------------------------------------------------------------------*/
/* END CAREERS
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/* @DEPARTMENTS
/*------------------------------------------------------------------*/

.node-type-department-page #page-title {
    border: none;
}

.node-type-department-page .field-name-field-department-subtitle h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 20px;
    color: #111;
}

/*------------------------------------------------------------------*/
/* END DEPARTMENTS
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/* @JOB POST
/*------------------------------------------------------------------*/
.node-type-job-post {
    font-size: 13px;
}

.node-job-post .field {
  margin: 20px 15px 20px 0;
}

.node-job-post .field-label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}


.node-job-post .field-name-field-job-responsibilities ul,
.node-job-post .field-name-field-job-min-qual ul, 
.node-job-post .field-name-field-job-pref-qual ul,
.node-job-post .field-name-field-job-benefits ul {
    margin-left: 25px;
}

.view-job-details { 
    line-height: 25px; 
    font-size: 14px;
}

.view-job-details strong {
    font-size: 15px;
    color: #333;
}

.view-job-details .detail-apply {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #999;
}

.view-job-details .detail-apply-content {
  font-size: 12px;
}

.view-job-details .detail-apply-content p {
    margin-bottom: 10px;
}

/*------------------------------------------------------------------*/
/* END JOB POST
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/* @SHARED SIDEBARS
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/* @GENERIC SIDEBAR */

.section-careers .sidebar .region-sidebar-first .block .block-title, 
.section-careers .sidebar .region-sidebar-second .block .block-title {
    margin-bottom: 8px;
}

.section-careers .sidebar .region-sidebar-first .block a,
.section-careers .sidebar .region-sidebar-second .block a {
    line-height: 24px;
}

.section-careers.sidebar-first .region-sidebar-first {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

.section-careers.sidebar-second .region-sidebar-second {
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.page-node-114127.section-careers.sidebar-first .region-sidebar-first, 
.page-node-114127.section-careers.sidebar-second .region-sidebar-second {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.section-careers.sidebar-first .region-sidebar-first .block.even {
  margin-left: -30px;
  padding: 0 20px 0 30px;
}

.section-careers .book-navigation { display: none; }

/*------------------------------------------------------------------*/
/* END GENERIC SIDEBAR */

/*------------------------------------------------------------------*/
/* @CONNECT WITH US */

.connect_with_us {
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

.connect_with_us div {
    margin: 5px 0;
}

.connect_with_us p {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.connect_with_us a img {
    margin: -3px 0;
    padding-right: 5px;
}

/*------------------------------------------------------------------*/
/* END CONNECT WITH US */

/*------------------------------------------------------------------*/
/* END SHARED SIDEBARS
/*------------------------------------------------------------------*/