$barWidth: 30px;

//Bootstrap Settings: Currently Disabling the Default Bootstrap Mobile Menu Icon
.navbar-toggle {display: none}

// Nav icon
#block-block-2 {position: absolute;right: 15px;z-index: 401;top: 6px;display: none;
	@media screen and (max-width: $screen-sm) {& {display: block}}
	//@media screen and (max-width: $screen-sm), screen and (max-height: 350px) {& {top: 24px}}
		@media screen and (max-width: 480px), screen and (max-height: 700px) {top: 10px}

		#nav-icon {display: block;position: relative;padding: 8px;padding-right: 0;
			.inner {position: relative;display: inline-block;width: $barWidth;height: 23px}
			.bar {@include transition(.5s all);display: block;position: absolute;left: 0;height: 4px;width: $barWidth;background: #333;
				#section-header.sticky & {background: #FFF}}
			.bar-top {top: 2px}
			.bar-middle {top: 10px}
			.bar-bottom {bottom: 1px}
			&.close {
				.bar {background: #000 !important}
				.bar-top {@include rotate(-45deg);top: 9px}
				.bar-middle {background: none !important}
				.bar-bottom {@include rotate(45deg);bottom: 10px}}
			@media screen and (max-width: 480px), screen and (max-height: 500px) {
				.inner {height: 17px;width: 30px}
				.bar {height: 3px;width: 30px}
				.bar-top {top: 1px}
				.bar-middle {top: 7px}
				.bar-bottom: {bottom: 0px}
				&.close {
					.bar-top {top: 7px}
					.bar-bottom {bottom: 7px}}}}}


//Overlay
.menu-overlay {background: #FFF;opacity: 0;z-index: -1; position: fixed; top: 0;bottom: 0;left: 0;right: 0;@include transition(.5s all);
	&.visible {z-index: 100;opacity: 1}}

//Header menu
#mobile-nav-menu {@include transition(.5s all);z-index: -1;position: absolute;top: 0;left: 0;right: 0;opacity: 0;padding:{top: 140px;bottom: 50px};overflow: hidden;
	&.visible {z-index: 400;opacity: 1}
	@media screen and (max-width: 560px), screen and (max-height: 700px) {padding-top: 120px}
	@media screen and (max-width: 480px), screen and (max-height: 500px) {padding-top: 100px}
	@media screen and (max-width: 420px), screen and (max-height: 450px) {padding-top: 90px}
		ul.menu {@include transition(.5s all);@include transform(#{scale(1.5)});padding-left: 0;
		.nav-expanded & {@include transform(#{scale(1)})}
			li {margin: 0;width: 100%;padding: 0;list-style: none;text-align: center;line-height: 1;font: {size: 38px;weight: 400}
				&.live-support, &.buy, &.demo {display: none}
				a {display: block;padding: 12px 20px; color: #737979; text-decoration: none;
					&.active {color: #333}
					&:hover {background: #CCC;color: #333}}
					@media screen and (max-height: 860px) {& {font-size: 32px}}
					@media screen and (max-height: 760px), screen and (max-width: 560px)  {& {font-size: 28px}}
					@media screen and (max-height: 680px) {a {font-size: 24px}}
					@media screen and (max-height: 620px) {a {padding: 10px 20px}}
					@media screen and (max-height: 560px) {a {padding: 6px 20px}}}}}

.menu-footer-wrapper{@include transition(.5s all);bottom: 0;right: 0;left :0;opacity: 0;z-index: -1;position: fixed;text-align: center;font-weight: 300;
		.nav-expanded & {opacity: 1;z-index: 410;}
		a {display: block;background: #333;color: #FFF;text-decoration: none;@include transition(all .3s);padding: 10px 0;
			&:hover {background: lighten(#333, 5%)}}
		@media screen and (max-width: 480px), screen and (max-height: 500px) {font-size: 15px}}

