// Global variables
$image-directory: 'img/';
$social-icon-background: #999;
$sans-serif: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$serif: 'Georgia', 'Times New Roman', 'Times', serif;

// Colors
$black: #000;
$white: #fff;

$maxPixelRatio: 3;
$mobileWidth: 500px;