<div class="module-header">
  <div class="header-container">
    <p class="page-subtitle">
      <span class="subtitle-suffix">Grants</span>
      <span class="subtitle-prefix"></span>
    </p>
  </div>
</div>