<div class="summary-statement">
  <p class="summary-statement-label">
    <span>{{statement.title}}</span>
    <span>{{statement.subtitle}}</span>
  </p>
  <p class="summary-statement-value">{{statement.amount}}</p>
  <p class="summary-statement-description">{{statement.description}}</p>
  <a class="btn" data-destination="scene"></a>
</div>