.front-page-join.community-page {
  .ebay-custom-join-form-wrapper,
  .ebay-custom-join-text-wrapper {
    float: none;
    margin: 0;
    max-width: 100%;
  }
}

#our-community {
  h1 {
    margin:0;
    font-size:2em
  }
}