$white: rgba(255, 255, 255, 1);
$dark-green: rgba(113, 152, 85, 1);
$medium-green: rgba(171, 198, 149, 1);
$light-green: rgba(209, 224, 196, 1);
$dark-blue: rgba(0, 93, 128, 1);
$medium-blue: rgba(146, 192, 230, 1);
$light-blue: rgba(176, 210, 234, 1);
$dark-purple: rgba(99, 62, 152, 1);
$medium-purple: rgba(161, 139, 193, 1);
$light-purple: rgba(224, 216, 234, 1);
$black: rgba(0, 0, 0, 1);

$aspectRatioQuotient: 56.25%;

$paddingLG: 50px;
$paddingMD: 50px;
$paddingSM: 50px;
$paddingXS: 35px;

$headerHeightLG: 70px;
$headerHeightMD: 70px;
$headerHeightSM: 70px;
$headerHeightXS: 50px;
