<div id="{{ svcf_datavis.id }}">
  {{> header }}
  {{> nav-main }}
  <div class="module-main">
    <div class="content">
        {{> svcf-data-vis}}
        {{!-- <div class="scroll-proxy"></div> --}}
    </div>
  </div>
</div>