.panel-default.panel-volunteer-table {
//  max-width: 893px;
//  margin: auto;
//  border: 2px solid #ccc;
  .panel-heading {
//      background-color: #d8d8d8;
//      font-weight: bold;
//      font-size: 21px;
//      font-family: @alt-sans-serif-font-family;
  }
  .panel-body {
//      padding: 0;
  }
  table {
//      width: 100%;
      th {
//          background-color: #f2f2f2;
      }
      th,td {
//          border-bottom: 1px solid #ccc;
//          border-left: 1px solid #ccc;
//          border-right: 1px solid #ccc;
//          padding: 15px;
      }
  }
}

.volunteer-table-button-container {
//  max-width: 893px;
//  margin: auto;
//  text-align: right;
  .btn {
//      padding: 6px 15px 6px 10px;
      .fa {
//          font-size: 10px;
//          line-height: 13px;
//          padding: 5px;
      }
  }
}
.table {

&.table-styled {

  thead {

    tr {

      th {
//        font-family: @default-font-family;
//        font-size: @default-font-size - 2;
//        font-weight: bold;
//        color: @white;
//        background-color: @rif-purple;
//        padding: 10px 15px;
//        border: none;
        
        background-color: $blue-light;
        border-bottom: none;
        color: $white;
        font-weight: $fw-bold;
        padding: $spacing-small $spacing-medium;
        color: $white;
        font-family: $ff-sans;
        @include fs($fs-body-small);
        line-height: 1.5em;
        margin: 0;
        letter-spacing: .025em;
        text-transform: uppercase;

        &:first-child {
//          .border-radiuses(0, 0, 0, 4px);
        }
        &:last-child {
//          .border-radiuses(4px, 0, 0, 0);
        }

        + th {
          border-left: 1px solid $blue-medium;
        }
      }
    }
  }
  tbody {
    border-top: none;

    tr {
      border-bottom: none;

      &.odd {
        background-color: $white;
      }

      + tr {
        td {
          border-top: 1px solid $gray-light;
        }
      }

      td {
//        font-family: @default-font-family;
//        font-size: @default-font-size - 2;
//        line-height: @default-line-height - 6;
//        vertical-align: middle;
//        padding: 10px 15px;
          font-family: $ff-sans;
          &.no-select {
//              user-select: none;
//              -moz-user-select: none;
//              -khtml-user-select: none;
          }
          + td {
            border-left: 1px solid $gray-light;
          }
      }
      &:last-child {
        border-bottom: none;

        td {
//          border-bottom: none;
          // border-bottom: 1px solid $gray-light;

          &:first-child {
//            .border-radiuses(0, 0, 4px, 0);
          }
          &:last-child {
//            .border-radiuses(0, 4px, 0, 0);
          }
        }
      }
    }
  }
}
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: none;
}

.table.table-bordered {
  tbody {
    tr {
      td {
        border-bottom: 1px solid $gray-light;
        // border-left: 1px solid $gray-light;

        // &:first-child {
        //   border-left: 1px solid $gray-light;
        // }

        // &:last-child {
        //   border-right: 1px solid $gray-light;
        // }
      }
    }
  }
}

#copyNidButton {
//  margin-top:20px;
}
#copyNidMsg {
//  margin-top:20px;
//  margin-right:20px;
//  font-size:14px;
}
